<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <!-- 验证码 -->
  <servlet>
  	<servlet-name>code</servlet-name>
  	<servlet-class>com.zhiyou100.util.ValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>code</servlet-name>
  	<url-pattern>/code</url-pattern>
  </servlet-mapping>
  
  
  <!-- HouserServlet -->
  <servlet>
  	<servlet-name>houseServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.HouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/flats/houseAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/flats/houseList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/flats/houseDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/flats/houseEdit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/flats/houseUpdate.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/flats/houseDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/rect/houseDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/contract/houseDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/view/repair/houseDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- UserServlet -->
  <servlet>
  	<servlet-name>userServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/userlogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/exit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/view/user/userAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/view/user/userList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/view/user/userDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/view/user/userEdit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/view/user/userUpdate.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/view/user/userDelete.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- lesseeServlet -->
  <servlet>
  	<servlet-name>lesseeServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.LesseeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/lessee/lesseeList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/lessee/lesseeAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/lessee/lesseeEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/lessee/lesseeUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/lessee/lesseeDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/lessee/lesseeDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/rect/lesseeDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lesseeServlet</servlet-name>
  	<url-pattern>/view/contract/lesseeDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- rectServlet -->
  <servlet>
  	<servlet-name>rectServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.RectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/rectList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/rectAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/rectEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/rectUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/rectDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/rect/rectDetail.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- contractServlet -->
  <servlet>
  	<servlet-name>contractServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.ContractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>contractServlet</servlet-name>
  	<url-pattern>/view/contract/contractList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rectServlet</servlet-name>
  	<url-pattern>/view/contract/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>contractServlet</servlet-name>
  	<url-pattern>/view/contract/contractAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>contractServlet</servlet-name>
  	<url-pattern>/view/contract/contractEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>contractServlet</servlet-name>
  	<url-pattern>/view/contract/contractUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>contractServlet</servlet-name>
  	<url-pattern>/view/contract/contractDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>contractServlet</servlet-name>
  	<url-pattern>/view/contract/contractDetail.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- logisticaServlet -->
  <servlet>
  	<servlet-name>logisticaServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.LogisticaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/logistica/logisticaList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/logistica/logisticaAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/logistica/logisticaEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/logistica/logisticaUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/logistica/logisticaDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/logistica/logisticaDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logisticaServlet</servlet-name>
  	<url-pattern>/view/repair/logisticaDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- activityServlet -->
  <servlet>
  	<servlet-name>activityServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.ActivitySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/view/activity/activityList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/view/activity/activityAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/view/activity/activityEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/view/activity/activityUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/view/activity/activityDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>activityServlet</servlet-name>
  	<url-pattern>/view/activity/activityDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- repairServlet -->
  <servlet>
  	<servlet-name>repairServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.RepairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/repairList.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/repairAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/repairEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/repairUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/repairDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>repairServlet</servlet-name>
  	<url-pattern>/view/repair/repairDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- roleServlet -->
  <servlet>
  	<servlet-name>roleServlet</servlet-name>
  	<servlet-class>com.zhiyou100.servlet.user.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>roleServlet</servlet-name>
  	<url-pattern>/view/role/roleList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>roleServlet</servlet-name>
  	<url-pattern>/view/role/roleAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>roleServlet</servlet-name>
  	<url-pattern>/view/role/roleEdit.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>roleServlet</servlet-name>
  	<url-pattern>/view/role/roleUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>roleServlet</servlet-name>
  	<url-pattern>/view/role/roleDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>roleServlet</servlet-name>
  	<url-pattern>/view/role/roleDetail.do</url-pattern>
  </servlet-mapping>
  
  <!-- 过滤器 -->
  <filter>
  	<filter-name>filter</filter-name>
  	<filter-class>com.zhiyou100.filter.BaseFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>filter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>